<div id="home">
  {{!-- <h1 class="letterTitle letterColorRed ">Welcome !!!</h1>  --}}
  <h1 class="letterTitle letterColorBlue welcome2">Welcome </h1>
  <h1 class="letterTitle letterColorOrange welcome3">GALACTUS !!!</h1>
  <p class="letterText">This will be your favorite comic place</p>
</div>

<div>
  <img src="../images/grupo-hero.png" alt="image superhero group" class="imgGroupHero">
</div>
