<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">AQUÍ VA EL LOGO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/auth/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/signup">Singup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/search/search">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/read/mustRead">Must read</a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/store">Find store</a>
        </li>
      </ul>
    </div>
  </nav>


  {{{body}}}
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/script.js"></script>
</body>


{{!--

<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<PARA SUBIR IMAGEN FORMULARIO


PARA UPLOAD de la imagen
router.get('/upload', (req, res) => res.render("images/upload"))

router.post('/upload', uploadCloud.single('imgFile'), (req, res) => { 

    console.log('La información que MULTER deja en req.file es:', req.file)

    Picture.create({ name: req.body.imgName, path: `/uploads/${req.file.filename}`, originalName: req.file.originalname })
        .then(() => res.redirect('/images'))
        .catch(err => console.log(err))
})

module.exports = router;
--}}