<h1>PROFILE</h1>

  <div>
    <h2>Start making your comic lists</h2>
    <a href="/newComic/newComic"> New comic</a>
    <br>
    <a href="/newComic/edit">Upload your comic</a>
    <br>
    <a href="newComic/comicsList">See your list of created comics</a>
  </div>

  <img src="{{user.imgPath}}">
  <h3>Wellcome {{user.username}} !!</h3>
  <h4>Te has registrado con el email: {{user.email}}</h4>
 
