<div id="read">
  <div class="read">
    <h2 class="letterColorRed letterText">Must Read</h2>
    <hr class="hrRead">
  </div>
  <img src="/images/hero mustread.png" alt="superhero" class="imgRead">
  <div class="row read">
    {{#each Comic}}
    <div class="col-md-4">
      <div class="cardSearch card">
        <img class="card-img-top imgComicSearch" src="{{image.small_url}}" alt="{{name}}">
        <div class="card-body">
          <h5 class="card-title letterText "><span class="spanRead">{{this.name}}</span></h5>
            <p class="card-text letterText">{{{this.deck}}}</p>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>