<h2 id="find">Find your Store</h2>
<hr class="hrStore">
<figure id="map"></figure>
<img id="findPic" src="/images/hero down.png" alt="dibujo de chica super hero">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../javascripts/store.js"></script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDG88rK2sVwRDbZIJautuIZpNt32kAQpSU&callback=initMap"> </script>