* {
  margin: 0;
  padding: 0;
}
//ETIQUETAS
body {
  background-color: #f8f7e7;
}

<<<<<<< HEAD
a {
  color: #00b7ff;
=======
a:hover {
  color: #D6A22F;
>>>>>>> 2097659507eaca854676ca8e36da2e231ffcc2c7
}

h1,
h2,
h3,
body {
  font-weight: 100;
}

h1 {
  margin-bottom: 40px;
}
li {
  padding-right: 15px;
}


//ID
#map {
    height: 500px;
    width: 100%;
}
#logo {
  text-align: left;
}

<<<<<<< HEAD
.navbar {
  margin-bottom: 60px;
=======
#home {
  margin: 50px 100px;
  font-size: 20px;
>>>>>>> 2097659507eaca854676ca8e36da2e231ffcc2c7
}

#home > h1 {
  font-size: 55px;
  margin-top: -50px;
}
#home > p {
  margin-top: -40px
}

#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

#signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

#search {
  margin: 50px 0 0 50px;
}

#read {
  position: relative;
  z-index: 100;
}

//CLASES
.card img {
  object-fit: cover;
  height: 150px;
}
.letterTitle {
  font-family: 'Calistoga', cursive;
}
.letterText {
  font-family: 'Alegreya Sans', sans-serif;
}
.letterColorWhite {
  color:white;
}
.letterColorRed {
  color: #C95C42;
}
.letterColorBlue {
  color: #77ABD4;
}
.letterColorOrange {
  color: #D6A22F;
}

.containerGlobalNavbar{
 display: flex;
 justify-content: space-between;
 padding-right: 0px;
}
.helloUser {
  font-size: 12px;
}

.redNavbar {
  background-color: #C95C42;
  padding-left: 10px;
  border-radius: 20px 0 0 20px;
}
.loginBox {
  border-radius: 10px;
  border: 1px solid #77ABD4; 
  padding: 10px 105px 10px 10px;
  background-color: #f8f7e7;
}
.hrLogin {
  border: 1.2px solid #C95C42;
  background-color: #C95C42;
  width: 283px;
}
.buttomLogin {
  border: 1px solid #D6A22F; 
  padding: 10px 125px;
  border-radius: 10px;
  background-color: #D6A22F;
  color: #C95C42;
  font-size: 20px;
}

.buttomImgUpload {
  background-color: #f8f7e7;
  color:  #C95C42;
}
.buttomSignup {
  padding: 7px 21px;
  border: 1px solid #D6A22F;
  border-radius: 10px;
  background-color: #D6A22F;
  color: #C95C42;
  font-size: 20px;
}

.accountSingup {
  margin-top: -30px;
}
.create-parag {
  width: 263px;
}
.search {
  margin-left: 20px;
}
.buttomSearch {
  padding: 10px 125px;
  border: 1px solid #77ABD4;
  background-color: #77ABD4;
  color: #C95C42;
  border-radius: 10px;
  font-size: 20px;
}
.boxSearch {
  position: relative;
  z-index: 100;
  margin-left: 90px;
}
.cardSearch {
  width: 70%;
  border-radius: 20px;
  border: 2px solid #d6a22f;
  margin-bottom: 45px;
  background-color: #f8f7e7;
}
.spanSearch {
  color:black
}
.spanRead {
  color: #77ABD4;
}
.read {
  margin-left: 50px;
  margin-top: 50px;
}
.hrRead {
  border: 1.2px solid #C95C42;
  background-color: #C95C42;
  width: 283px;
}

//CLASES DE IMG
.logo{
  height: 13%;
  width: 13%;
}
.profileImgNav {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 4px;
} 

.imgGroupHero {
  height: 73%;
  width: 94%;
  top: 26%;
  left: 4%;
  position: fixed;
}

.imgLoginLeft {
    width: 40%;
    left: -7%;
    position: absolute;
    z-index: 100;
}
.imgLoginRigth {
    width: 40%;
    left: 67%;
    position: absolute;
    z-index: 100;
}
.imgSingup {
    width: 101%;
    margin: 13px;
    left: -66%;
    position: absolute;
    z-index: 100;
}
.imgSearch {
    width: 65%;
    margin: 13px;
    left: 93%;
    margin-top: -149px;
    position: absolute;
    z-index: 0;
}

.imgComicSearch {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 50%;
  object-fit: cover;
}
.imgRead {
  position: absolute;
  z-index: 0;
  width: 65%;
  left: 31%;
  margin-top: -6%;
}



<<<<<<< HEAD
#map {
  height: 500px;
  width: 70%;
  display: block;
  margin: 0 auto;
  border: 5px solid #c95c42;
  border-radius: 2.5%;
  margin-top: 20px;
  z-index: 1;
}
#find {
  font-family: "Alegreya Sans", sans-serif;
  text-align: center;
  margin-bottom: 40px;
  color: #d6a22f;
}
hr {
  height: 0.75px;
  width: 25%;
  background-color: #d6a22f;
  margin-top: -35px;
  margin-left: 483px;
}
#findPic {
  height: 550px;
  margin-left: -200px;
  z-index: 2;
  margin-top: -575px;
  position: relative;
}

.newcomic {
  padding: 15px 25px 15px 25px;
  color: #c95c42;
  border-radius: 5px;
  background-color: #d6a22f;
  margin-left: 40px;
  z-index: 1;
}
a:hover {
  background-color: #c95c42;
  color: #f8f7e7;
  text-decoration: none;
}
#profile {
  display: flex;
  justify-content: center;
}
#profpic {
  height: 200px;
  margin-top: -35px;
}
#profilelet {
  display: flex;
  margin-left: 20px;
}
.prof-desc {
  margin: 10px 0px 0px 30px;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 0.95em;
  height: 94px;
  border: 3px #c95c42;
  border-style: dashed;
  padding: 10px 10px;
  color: #606060;
}
#profh1 {
  font-family: "Calistoga";
  color: #d6a22f;
  margin-left: 47px;
}
#makingtx {
  font-family: "Alegreya Sans", sans-serif;
  margin-left: 450px;
  margin-top: 5px;
  margin-bottom: 25px;
  color: #c95c42;
  z-index: 1;
}
.box2 {
  z-index: 0;
}
.pic-line {
  z-index: 100;
  margin-left: 1150px;
  height: 450px;
  margin-top: -370px;
}
.form-group {
  margin-bottom: 35px;
}
.marginbotton {
  margin-top: 25px;
}
.buttonform {
  border: 1px solid #d6a22f;
  padding: 10px 95px;
  border-radius: 10px;
  background-color: #d6a22f;
  color: #c95c42;
  font-size: 20px;
}
.formtitle {
  font-family: "Alegreya Sans", sans-serif;
  margin-left: 357px;
  margin-bottom: 75px;
  color: #d6a22f;
  font-size: 4.2em;
  line-height: 0.1em;
}
#newPic {
  height: 550px;
  margin-top: -600px;
  margin-left: 35px;
}
.card {
  width: 80%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  margin-bottom: 45px;
}
.card-body {
  background: #f8f7e7;
  border-bottom: 2px solid #d6a22f;
  border-right: 2px solid #d6a22f;
  border-left: 2px solid #d6a22f;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.card-img-top {
  border-right: 2px solid #d6a22f;
  border-left: 2px solid #d6a22f;
  border-top: 2px solid #d6a22f;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.cover {
  object-fit: cover;
}
.card-title {
  color: #77abd4;
  font-family: "Calistoga";
}
#background-pic2 {
  z-index: 100;
}
#background-list {
  z-index: 0;
  height: 1700px;
  width: 140%;
  margin-top: -650px;
  margin-left: -300px;
  opacity: 100%;
}
.buttonform2 {
  border: 1px solid #77abd4;
  padding: 10px 85px;
  border-radius: 10px;
  background-color: #77abd4;
  color: #c95c42;
  font-size: 20px;
}
.form-group2 {
  margin-bottom: 16px;
}
.margintop {
  margin-top: 40px;
}
#edititle {
  font-family: "Alegreya Sans", sans-serif;
  color: #77abd4;
  font-size: 3em;
  margin-left: 385px;
  margin-bottom: 25px;
}
#editcoupel {
  height: 650px;
  margin-top: -630px;
  margin-left: 95px;
}
.title-algo {
  margin-bottom: 0px;
}

.button-newcomic {
  margin: 20px;
}
.header-list {
  border-bottom: 3px solid #c95c42;
  width: 35%;
}
.card-img-top2 {
  border-right: 2px solid #77abd4;
  border-left: 2px solid #77abd4;
  border-top: 2px solid #77abd4;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  object-fit: cover;
  height: 170px;
  width: 100%;
}
.card-body2 {
  background: #f8f7e7;
  border-bottom: 2px solid #77abd4;
  border-right: 2px solid #77abd4;
  border-left: 2px solid #77abd4;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.card7 {
  width: 126.4%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  margin-bottom: 45px;
}
.caja-ima {
  height: 80%;
  width: 80%;
}
.card-title2 {
  color: #c95c42;
  font-family: "Calistoga";
  margin-left: 20px;
  padding-top: 15px;
}
.card-text3 {
  color: #606060;
  font-family: "Alegreya Sans", sans-serif;
  margin-left: 20px;
  padding-top: 3px;
  font-size: 1.3em;
}
.h1detail {
  color: #d6a22f;
  font-family: "Alegreya Sans", sans-serif;
  border-bottom: 3px solid #d6a22f;
  width: 26%;
  margin-left: 45px;
  background-color: #f8f7e7;
  z-index: 100;
  position: relative;
}
.moveleft {
  margin-left: 45px;
  position: relative;
  z-index: 100;
}
.buttondetail5 {
  border: 1px solid #d6a22f;
  padding: 10px 85px;
  border-radius: 10px;
  background-color: #d6a22f;
  color: #c95c42;
  font-size: 20px;
  margin-right: 30px;
}

.background-details {
  position: absolute;
  z-index: 0;
  height: 300px;
  width: 140%;
  margin-top: -250px;
  margin-left: -300px;
  opacity: 100%;
}
=======
>>>>>>> 2097659507eaca854676ca8e36da2e231ffcc2c7
