<div class="container coasters-index">

  <a href="/newComic/newComic" class="btn btn-dark">Crear cómic nuevo</a>
  <h1 style="font-weight: 100">Tu lista de Cómics creados</h1>

  <div class="row">
    {{#each comicDB}}
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="{{this.imgPath}}" alt="{{this.imgName}}">
        <div class="card-body">
          <h5 class="card-title">{{this.name}}</h5>
          <a href="/newComic/details/{{_id}}" class="btn btn-sm btn-dark">Ver detalles</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>