<H1>AÑADE TU CÓMIC</H1>

<div class="container">
  <div class="row">

    <div class="col-md-6">
      <h1 style="font-weight: 100">Nuevo cómic</h1>
    </div>

    <div class="col-md-6">

      <form action="/newComic/newComic" method="post">

        <div class="form-group">
          <label for="name-input">Nombre</label>
          <input name="name" type="text" class="form-control" id="name-input">
        </div>

        <div class="form-group">
          <label for="description-input">Descripción</label>
          <input name="description" type="text" class="form-control" id="description-input">
        </div>

        <div class="form-group">
          <label for="issues-input">issuesNumber</label>
          <input name="issuesNumber" type="text" class="form-control" id="issues-input">
        </div>


        <div class="form-group">
          <label for="type-list">resourceTypes:</label>
          <select name="resourceTypes" class="form-control" id="type-list">
            <option disabled selected value>Select Option</option>
            <option>Volume</option>
            <option>Issue</option>

          </select>
        </div>

        <div class="form-group">
          <label for="publisher-input">publisherName</label>
          <input name="publisherName" type="text" class="form-control" id="publisher-input">
        </div>

        <div class="form-group">
          <label for="volume-input">volume</label>
          <input name="volume" type="text" class="form-control" id="volume-input">
        </div>

        {{!-- <form>
          <div class="form-group">
            <label for="exampleFormControlFile1">Insertar imagen</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
          </div>
        </form> --}}

        <button type="submit" class="btn btn-dark">Crear</button>
        <a href="/comicList" class="btn btn-dark">Volver</a>

      </form>
    </div>

  </div>
</div>